@model List<AcademyOnline.Entities.Curso>
@{
    ViewBag.Title = "Cursos";
}

<h2>Cursos</h2>
<!--
<section>
    <div class="row">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            foreach (var item in Model)
            {
                <div class="col">
                    <div class="card h-100 border-primary" style="max-width: 20rem">
                        <img class="card-img-top" src="~/Images/Cursos/item.ImagePath" asp-append-version="true" width="100%">
                        <div class="card-body">
                            <h4 class="card-title">item.Nombre</h4>
                            <h5 class="card-title"></h5>
                            
                            <h4 class="card-title precio">$</h4>
                          
                            Html.ActionLink("Ver", "VerCurso", new { id = item.CursoId }, new { class = "btn btn-danger btn-active" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
-->
<div class="section">

    <h3 class="h3">Todas las categorias</h3>
    <div class="categorias">
        <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var item in Model)
            {
                <div class="col">
                    <div class="carta">
                        <div class="card-section-1">
                            <img src="~/Images/Cursos/@item.ImagePath" width="100%" height="100%" class="img">
                        </div>
                        <div class="card-section-2">
                            <div class="card-tile">
                                <h4 class="h4">
                                    @item.Nombre
                                </h4>
                            </div>
                            <div class="card-info">
                                <p class="text">
                                    
                                </p>
                            </div>
                        </div>
                        <div class="card-section-3">
                            <h4 class="precio">$</h4>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>

    </div>


</div>